/* 웹폰트(둥근모꼴) */
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DungGeunMo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #212529; /* Example gray-09 color */
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
}

body::-webkit-scrollbar {
    width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #c8c8c8; /* Example gray-08 color */
}

main {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f8f9fa;
    display: flex;
    flex-direction: column;
}


/* a태그 설정 초기화 */
a,
a:link,
a:visited {
    color: inherit;
}

/* button 속성 초기화 */
button {
    all: unset;
}
